<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ComplaintDB" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ComplaintDB;Integrated Security=True;Connect Timeout=30" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="AppName" value="Complaint Management System"/>
    <add key="AppVersion" value="1.0"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="20" />
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  
  <httpRuntime maxRequestLength="10240" />
  
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect-to-Login" stopProcessing="true">
          <match url="^(Admin|Faculty|ITStaff)/" />
          <conditions>
            <add input="{HTTP_COOKIE}" pattern="ASP.NET_SessionId" negate="true" />
          </conditions>
          <action type="Redirect" url="~/Account/Login.aspx" redirectType="Temporary" />
        </rule>
  
    </rules>
    </rewrite>
  </system.webServer>
</configuration>